<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3" *ngFor="let tempProduct of products">
                    <div class="product-box">
                        <a routerLink="/products/{{ tempProduct.id }}">
                            <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                        </a>
                        <div>
                            <a routerLink="/products/{{ tempProduct.id }}">
                                <h1>{{ tempProduct.name }}</h1>
                            </a>
                        </div>
                        <div class="price">{{ tempProduct.unitPrice | currency: 'INR' }}</div>
                        <button class="btn btn-primary btn-sm" (click)="addToCart(tempProduct)">Add to cart</button>
                    </div>
                </div>
                <div *ngIf="products?.length == 0" class="alert alert-info col-md-12" role="alert">
                    No products found.
                </div>
            </div>
            <div class="footer-pagination" *ngIf="totalPages > 1">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <ngb-pagination class="d-flex justify-content-end" 
                                        [maxSize]="3"
                                        [(page)]="currentPage"
                                        [pageSize]="currentPageSize"
                                        [collectionSize]="totalElements"
                                        (pageChange)="listProducts();">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>